/* latin */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/static/VarelaRound.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Medle Icons Collection - 0224';
  src: url(/static/icons.woff2) format('woff2');
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  color: #222;
  background: #fdfdfd;
}
* {
  font-family: "Varela Round", sans-serif;
  user-select: none;
}
.iconfont {
  font-family: 'Medle Icons Collection - 0224';
}
a {
  color: #25a;
}

body.dark {
  background: #222;
  color: #fdfdfd;
}
@media (prefers-color-scheme: dark) {
  body:not(.loaded) {
    background: #222;
  }
}

#page-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 18px;
}

#container {
  min-height: 100%;
  margin: 0 auto;
  width: 100%;
  max-width: 80vh;
  position: relative;
}

#icon-btns-container {
  position: absolute;
  top: 16px;
  padding: 0 8px;
  width: calc(100% - 16px);
}
#icon-btns-container > div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 32px;
  text-align: center;
  font-size: 22px;
  background: rgba(220, 220, 220, 80%);
  transition: background-color 0.2s ease;
}
#icon-btns-container > div:active {
  background: rgba(200, 200, 200, 80%);
}
body.dark #icon-btns-container > div {
  background: rgba(72, 72, 72, 80%);
}
body.dark #icon-btns-container > div:active {
  background: rgba(45, 45, 45, 80%);
}
#icon-btn-help {
  float: left;
}
#icon-btns-container > div#icon-btn-options {
  float: right;
  font-size: 20px;
}
#icon-btns-container > div#icon-btn-archive {
  float: right;
  margin-right: 6px;
  font-size: 20px;
}

.list {
  margin: 20px 20px;
}
.list > div {
  width: 100%;
  display: flex;
}
.list > div.fg {
  margin-top: -56px;
}
.list .bubble {
  display: inline-block;
  flex: 1 1 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  font-size: 22px;
  overflow: visible;
}
.list .bubble > div.content {
  background: rgba(220, 220, 220, 80%);
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  width: 56px;
  height: 56px;
  box-sizing: border-box;
  transform: translateX(-50%);
  opacity: 1;
  border: 1px solid transparent;
  transition: opacity 0.5s ease, transform 0.5s ease, background 0.5s ease, border-color 0.5s ease;
}
.list > .bg > .bubble.none > div.content {
  background: rgba(240, 240, 240, 80%);
}
.list > .bg > .bubble.bingo > div.content {
  background: rgba(128, 216, 48, 80%);
}
.list > .bg > .bubble.maybe > div.content {
  background: rgba(240, 232, 64, 80%);
}
body.dark .list > .bg > .bubble:not(.outline):not(.none):not(.bingo):not(.maybe) > div.content {
  background: rgba(72, 72, 72, 80%);
}
body.dark .list > .bg > .bubble.none > div.content {
  background: rgba(45, 45, 45, 80%);
}
body.dark .list > .bg > .bubble.bingo > div.content {
  background: rgba(128, 216, 48, 65%);
}
body.dark .list > .bg > .bubble.maybe > div.content {
  background: rgba(240, 232, 64, 65%);
}
/*body.altpal .list > .bg > .bubble.bingo > div.content {
  background: rgba(48, 192, 255, 80%);
}
body.altpal .list > .bg > .bubble.maybe > div.content {
  background: rgba(232, 224, 64, 80%);
}*/
body.highcon .list > .bg > .bubble.bingo > div.content {
  border-color: #808080;
  border-width: 2px;
}
body.highcon .list > .bg > .bubble.maybe > div.content {
  border-color: #808080;
  border-width: 2px;
  border-style: dashed;
}
body.highcon.dark .list > .bg > .bubble.bingo > div.content,
body.highcon.dark .list > .bg > .bubble.maybe > div.content {
  border-color: #f0f0f0;
}
.list .bubble.hidden > div.content,
.list.hidden .bubble:not(.nohidden) > div.content,
.list.hidden.must .bubble > div.content {
  opacity: 0;
  transform: translateX(-50%) scale(0.5);
  pointer-events: none;
}
.list .bubble.outline > div.content {
  background: rgba(250, 250, 250, 80%);
}
.list .bubble.outline:not(.hidden) > div.content {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  border-color: #999;
}
.list .bubble.outline:not(.hidden).large > div.content {
  transform: translateX(-50%) scale(1.2);
  transition: opacity 0.5s ease, transform 0.15s ease, background 0.5s ease, border-color 0.5s ease;
}
body.dark .list .bubble.outline:not(.hidden) > div.content {
  border-color: #707070;
  background: rgba(40, 40, 40, 80%);
}
.list .bubble.fast > div.content {
  transition: opacity 0.5s cubic-bezier(0.16, 1, 0.3, 1), transform 0.5s cubic-bezier(0.16, 1, 0.3, 1), background 0.5s cubic-bezier(0.16, 1, 0.3, 1), border-color 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}
.list .bubble.fast-pop > div.content {
  transition: opacity 0.5s ease, transform 0.15s ease, background 0.5s ease, border-color 0.5s ease;
}
.list > .fg > .bubble > div.content {
  background: none;
  z-index: 910;
  pointer-events: none;
}
.list.btn .bubble > div.content {
  transform: translateX(-50%) scale(1.2);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.list.btn .bubble > div.content:active {
  background: rgba(200, 200, 200, 80%);
}
.list.btn.disabled .bubble > div.content {
  background: rgba(240, 240, 240, 80%);
  pointer-events: none;
}
body.dark .list.btn.disabled .bubble > div.content {
  background: rgba(45, 45, 45, 80%);
}
.list .bubble.large > div.content {
  transform: translateX(-50%) scale(1.2);
}
.list.hidden .bubble:not(.nohidden) {
  pointer-events: none;
}

body.nota-num .bubble.solf-1 > div.content:before { content: '1'; }
body.nota-num .bubble.solf-2 > div.content:before { content: '2'; }
body.nota-num .bubble.solf-3 > div.content:before { content: '3'; }
body.nota-num .bubble.solf-4 > div.content:before { content: '4'; }
body.nota-num .bubble.solf-5 > div.content:before { content: '5'; }
body.nota-num .bubble.solf-6 > div.content:before { content: '6'; }
body.nota-num .bubble.solf-7 > div.content:before { content: '7'; }
body.nota-solf .bubble > div.content:before { font-size: 20px; }
body.nota-solf .bubble.solf-1 > div.content:before { content: 'do'; }
body.nota-solf .bubble.solf-2 > div.content:before { content: 're'; }
body.nota-solf .bubble.solf-3 > div.content:before { content: 'mi'; }
body.nota-solf .bubble.solf-4 > div.content:before { content: 'fa'; }
body.nota-solf .bubble.solf-5 > div.content:before { content: 'sol'; }
body.nota-solf .bubble.solf-6 > div.content:before { content: 'la'; }
body.nota-solf .bubble.solf-7 > div.content:before { content: 'si'; }
body.nota-aikin .bubble > div.content:before { font-family: 'Medle Icons Collection - 0224'; }
body.nota-aikin .bubble.solf-1 > div.content:before {
  content: '\f04b';
  font-size: 24px;
  transform: rotate(-90deg);
  display: block;
  position: relative;
  top: -2px;
}
body.nota-aikin .bubble.solf-2 > div.content:before {
  content: '\1f319';
  font-size: 24px;
  transform: rotate(-70deg);
  display: block;
  position: relative;
  top: -2px;
}
body.nota-aikin .bubble.solf-3 > div.content:before { content: '\f219'; }
body.nota-aikin .bubble.solf-4 > div.content:before {
  content: '\f0d8';
  font-size: 34px;
  transform: rotate(45deg);
  display: block;
  position: relative;
  top: -3px;
  left: 3px;
}
body.nota-aikin .bubble.solf-5 > div.content:before { content: '\1f7e4'; }
body.nota-aikin .bubble.solf-6 > div.content:before { content: '\f0c8'; }
body.nota-aikin .bubble.solf-7 > div.content:before { content: '\f041'; }

.tune-dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: fixed;
  left: 50%;
  background: #222;
  transform: translate(-50%, -50%);
  opacity: 1;
  border: 1px solid transparent;
  transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}
body.dark .tune-dot {
  background: #fdfdfd;
}
.tune-dot.ottava {
  top: -8%;
}
.tune-dot.ottava-bassa {
  top: 108%;
}
.list .bubble.hidden > div > div.tune-dot {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
}
.list .bubble.outline > div > div.tune-dot {
  background-color: transparent;
  border-color: #999;
}

.accidental {
  font-family: 'Medle Icons Collection - 0224';
  font-size: 14px;
  position: fixed;
  left: 20%;
  top: 30%;
  transform: rotate(5deg) translate(-50%, -50%);
}
.accidental::before {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.accidental.flat::before {
  content: '\266d';
}
.accidental.sharp::before {
  content: '\266f';
}
.list .bubble.outline > div > div.accidental::before {
  opacity: 0.4;
}

#list-container {
  margin-top: 32px;
}
#start-btn-container {
  position: absolute;
  top: 30%;
  width: 100%;
}
#start-btn-container.no-pointer {
  pointer-events: none;
}
#text-loading {
  position: absolute;
  top: 30%;
  width: 100%;
  font-size: 22px;
  text-align: center;
}
#text-tip {
  /* Parent is scaled 1.5x */
  width: 50%;
  position: fixed;
  left: 25%;
}
.text-fading {
  pointer-events: none;
  transform: scale(1);
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.text-fading.hidden {
  transform: scale(0.5);
  opacity: 0;
}
#btn-start {
  transform: scale(1.5);
}
#btn-start p {
  text-align: center;
  font-size: 12px;
  color: #999;
  margin-top: 18px;
}
#btns-container {
  width: 100%;
  position: absolute;
  bottom: 12px;
}
.list.btn {
  margin: 18px 12px;
}
.list.btn.confirm {
  margin-top: -72px;
}
.list.btn.confirm .bubble {
}
.list.btn.confirm .bubble > div.content {
  width: 83%; /* for the background capsule shape, this will be overridden */
  display: inline-block;
  position: unset;
  transform: scale(1.2);
  border-radius: 32px;
}
.list.btn.confirm.hidden .bubble > div.content {
  transform: scale(0.5);
}

#modal-bg {
  z-index: 990;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(24, 24, 24, 80%);
  opacity: 1;
  transition: opacity 0.5s ease;
}
#modal-bg.hidden {
  opacity: 0;
}
.modal {
  z-index: 991;
  position: absolute;
  top: 15%;
  left: 10%;
  bottom: 15%;
  right: 10%;
  background: #fdfdfd;
  border-radius: 8px;
  padding: 20px 24px;
  font-size: 15px;
  overflow: scroll;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
body.dark .modal {
  background: #222;
}
.modal.hidden {
  opacity: 0;
  transform: scale(0.9);
}
.modal p {
  margin: 0 0 1ex 0;
  line-height: 1.7;
}
.modal p.title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1ex;
  overflow: hidden;
}
/* https://stackoverflow.com/a/14731123 */
.modal p.title:before,
.modal p.title:after {
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 30%;
}
.modal p.title:before {
  background: linear-gradient(270deg, rgba(128, 128, 128, 10%), rgba(128, 128, 128, 0));
  right: 32px;
  margin-left: -30%;
}
.modal p.title:after {
  background: linear-gradient(90deg, rgba(128, 128, 128, 10%), rgba(128, 128, 128, 0));
  left: 32px;
  margin-right: -30%;
}
#modal-bg.hidden, .modal.hidden {
  pointer-events: none;
}
.modal .bottom-shadow {
  width: 100%;
  height: 24px;
  position: sticky;
  bottom: -24px;
  left: 0;
  background: linear-gradient(rgba(253, 253, 253, 0), rgba(253, 253, 253, 1));
}
body.dark .modal .bottom-shadow {
  background: linear-gradient(rgba(34, 34, 34, 0), rgba(34, 34, 34, 1));
}

.modal .list {
  margin: 8px 0;
}
.modal .list .bubble > div {
  transform: translateX(-50%) scale(0.7);
}
.modal .list .bubble.large > div.content {
  transform: translateX(-50%) scale(0.8);
}

#answer-container {
  margin: 10px 0 15px 0;
}
#btn-play {
  margin-bottom: 24px;
}
#btn-share {
  padding: 8px;
  background: #cbf4ba;
  border-radius: 8px;
  margin: 16px 0;
  text-align: center;
  transition: background-color 0.2s ease;
}
#btn-share:active {
  background: #abd49a;
}
#btn-share.copied {
  background: #dbf7ca;
}
body.dark #btn-share {
  background-color: #3b642a;
}
body.dark #btn-share:active {
  background-color: #1b440a;
}
body.dark #btn-share.copied {
  background: #4b743a;
}

.options-btns-list {
  display: table;
  width: 100%;
  margin: 12px 0;
}
.options-btns-list span {
  display: table-cell;
  text-align: start;
  vertical-align: middle;
  font-size: 1.1em;
}
.small-btn {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  background: rgba(220, 220, 220, 80%);
  transition: background-color 0.2s ease;
}
.small-btn:active {
  background: rgba(200, 200, 200, 80%);
}
.small-btn.on {
  background: rgba(128, 216, 48, 80%);
}
.small-btn.on:active {
  background: rgba(108, 196, 28, 80%);
}
body.dark .small-btn {
  background: rgba(72, 72, 72, 80%);
}
body.dark .small-btn:active {
  background: rgba(45, 45, 45, 80%);
}
body.dark .small-btn.on {
  background: rgba(128, 216, 48, 80%);
}
body.dark .small-btn.on:active {
  background: rgba(108, 196, 28, 80%);
}
#modal-intro .options-btns-list {
  padding: 6px 12px;
  width: calc(100% - 24px);
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  background: rgba(128, 128, 128, 3%);
}
body.nota-num .small-btn#btn-notation { background: rgba(232, 232, 0, 70%); }
body.nota-num .small-btn#btn-notation:active { background: rgba(196, 196, 0, 70%); }
body.nota-solf .small-btn#btn-notation { background: rgba(255, 160, 0, 70%); }
body.nota-solf .small-btn#btn-notation:active { background: rgba(235, 140, 0, 70%); }
body.nota-aikin .small-btn#btn-notation { background: rgba(64, 192, 255, 70%); }
body.nota-aikin .small-btn#btn-notation:active { background: rgba(44, 172, 235, 70%); }
#repo-notes {
  font-size: 13px;
  margin-top: 6px;
  display: inline-block;
}
#repo-notes > a {
  color: #58d;
  text-decoration: none;
}

a.puzzle-link {
  display: block;
  background: rgba(220, 220, 220, 80%);
  color: #222;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  padding: 8px;
  border-radius: 8px;
  margin: 16px 0;
  text-align: center;
  transition: background-color 0.2s ease;
}
a.puzzle-link:not(.current):active {
  background: rgba(200, 200, 200, 80%);
}
body.dark a.puzzle-link:not(.current) {
  background: rgba(72, 72, 72, 80%);
  color: #fdfdfd;
}
body.dark a.puzzle-link:not(.current):active {
  background: rgba(45, 45, 45, 80%);
}
a.puzzle-link.current {
  background: rgba(128, 216, 48, 80%);
  color: #222;
}
body.dark a.puzzle-link.current {
  background: rgba(128, 216, 48, 80%);
}
body.dark a.puzzle-link.current:active {
  background: rgba(108, 196, 28, 80%);
}
